@use "./base.scss";
@use "./themes";

// put your custom CSS here!
.callout {
  &[data-callout="infobox"] {
    float: right;
    margin-left: 1rem;
    max-width: 16.875rem;

    h1 {
      font-size: 1.4rem;
      font-style: var(--h2-style);
      font-variant: var(--h2-variant);
      font-weight: var(--h2-weight);
    }
  }
}
